# Ignore node_modules in any subfolder
*/node_modules/
*/*/node_modules/

# Ignore build and cache files in any subfolder
*/ios/build/
*/android/build/
*/vendor/
*/.bundle/
*/android/app/build/
*/android/.gradle/

# Ignore log files in any subfolder
*.log
*/*.log

# Ignore other build artifacts in any subfolder
*/ios/Pods/
*/.gradle/

# Ignore Expo-related files if using Expo in any subfolder
*/.expo/

# Ignore IDE config folders in any subfolder
*/.idea/
*/.vscode/

# macOS Finder attributes
.DS_Store

# Windows Thumbs.db
Thumbs.db

# Ignore lock files (package-lock.json, yarn.lock) in any subfolder
*/package-lock.json
*/yarn.lock

# Optional: if using TypeScript
# *.tsbuildinfo

*/build/
*/*.pbxuser
*/!default.pbxuser
*/*.mode1v3
*/!default.mode1v3
*/*.mode2v3
*/!default.mode2v3
*/*.perspectivev3
*/!default.perspectivev3
*/xcuserdata
*/*.xccheckout
*/*.moved-aside
*/DerivedData
*/*.hmap
*/*.ipa
*/*.xcuserstate
*/project.xcworkspace

# Android/IntelliJ
#
*/build/
*/.idea
*/.gradle
*/local.properties
*.iml

# node.js
#
*/node_modules/
*/npm-debug.log
*/yarn-error.log

# BUCK
*/buck-out/
\.buckd/
*/*.keystore